div.bola{
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    margin: 5px;
    border-radius: 25px;
}

div.cuadrado{
    width: 50px;
    height: 50px;
    background-color: red;
    display: inline-block;
    margin: 5px;
}

div.borde{
    border-top: 1px solid black ;
    height: 4px;
    border-bottom: 3px solid black;
    display: block;
}

i.bug{
    position: absolute;
    top: 10px;
    right: 10px;
}

div.capital p:first-child{
    font-size: 200px;
    margin-bottom: 0px;
    margin-top: -25px;
}

div.capital p:last-child{
    font-size: 30px;
    margin-top: -45px;
}

p.textGato{
    text-align: center;
}

div.divGato{
    border: 2px solid blue;
    padding: 5px;
    padding-bottom: 0;
}


div.bolaBingo{
    display: inline-block;
    margin: 5px;
    text-align: center;
    color: white;
    font-size: 40px;
}

div.divMarco{
    margin-top: 10px;
    border: 3px solid;
}

p.txtBingo{
    margin-top: 5%;
}