<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

    class Main extends React.Component {
            render() {
                return (
                <div>
                  <HolaMundo />
                  <Bola />
                  <Cuadrado />
                  <Separador />
                  <Titulo texto="Hola React!"/>
                  <BolaX talla="80" margen="10" fondo="#ff0000" />
                  <CuadradoB talla="70" margen="8" grosor="5" color="red" />
                  <Mosca color="blue"  />
                  <Capital nom="barcelona" />
                  <Gato ancho="200" alto="200" nombre="Garfield" />
                  <BolaBingo num="22" />
                  <FotoBola src="http://lorempixel.com/" talla="300" />
                  <Marco src="http://lorempixel.com/200/300" ancho="200" borde="10" color="brown" fondo="grey"/>
                  <Lista data="Girona,barcelona,Lleida,Tarragona"/>
                  <ListaMap data="Girona,barcelona,Lleida,Tarragona"/>
                </div>
                );
            }
        }

    const Lista = (props) =>{
        let listaCiudades = props.data.split(",");
        let lis = [];
        for (let i = 0; i < listaCiudades.length; i++){
            lis.push(<li>{listaCiudades[i]}</li>);
        }
        return <ul>{lis}</ul>
    };

    const ListaMap = (props) =>{
        let listaCiudades = props.data.split(",");
        let lis = listaCiudades.map(el => <li>{el}</li>);
        return <ul>{lis}</ul>
    };

    const HolaMundo= () => <h1>Hola Mundo!</h1>;
    const Bola= () => <div className="bola" ></div>;
    const Cuadrado= () => <div className="cuadrado" ></div>;
    const Separador= () => <div className="borde" ></div>;
    const Titulo= (props) => <h1>{props.texto}</h1>;

    function BolaX(props) {
        return <div style={
            {
                width: props.talla,
                height: props.talla,
                borderRadius: props.talla/2,
                margin: props.margen,
                backgroundColor: props.fondo
            }
        }/>
    }

    function CuadradoB(props) {
        return <div className="cuadradoB" style={
            {
                width: props.talla,
                height: props.talla,
                borderStyle: "solid",
                borderColor: props.color,
                borderWidth: props.grosor,
                
            }
        }/>
    }

    const Mosca= (props) => <i className="fas fa-bug bug" style={{color:props.color}}></i>;

    function Capital(props) {
        let inicialCapital = props.nom.substr(0,1).toUpperCase();
        let ciudad = inicialCapital + props.nom.substr(1).toLowerCase();
        return <div className="capital">
        <p>{inicialCapital}</p>
        <p>{ciudad}</p>
        </div>
    }

    function Gato(props) {
        let urlGato = "https://placekitten.com/" + props.ancho + "/" + props.alto;
         return <div className="divGato"  style={{width: props.ancho}}>
        <img src={urlGato} alt="Gato"/>
        <p className="textGato">{props.nombre}</p>
        </div>
    }

    function BolaBingo(props){
        return <div className="bola bolaBingo"> 
        <p className="txtBingo" >{props.num}</p></div>
        
    }

    function FotoBola (props){
        let urlBola = props.src + props.talla + "/" + props.talla;
        return <div>
        <img src={urlBola} alt="bola" style={{borderRadius: props.talla/2}}/>
        </div>
    }

    function Marco(props){
        return <div className="divMarco"  style={{width: props.ancho, padding: props.borde, borderColor: props.color, backgroundColor: props.fondo}}>
        <img src={props.src} alt="Marco"/>
        </div>
    }


    ReactDOM.render( <Main  />, document.getElementById("root") );
    
</script>
</body>

</html>