h3.display{
    border: 1px solid black;
    width: 90%;
    height: 40px;
    margin: 5%;
    background-color: rgb(194, 183, 183);
    text-align: right;
    padding-right: 4px;
}

div.calcBody{
    width: 90%;
    background-color: grey;
    padding-top: 0.5px;
    max-width: 600px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}

button.botonCalc{
    width: 23%;
    margin: 1%;
}