div.tricolor{
    margin-top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

div.grey{
    background-color: grey;
}

div.red{
    background-color: red;
}

div.green{
    background-color: green;
}

div.blue{
    background-color: blue;
}