body{
    margin: 0 auto;
    text-align: center;
}
/* 
div[class^='col-']{
    border: 10px solid white;
  } */

.verde{
    background-color: green;
    color: white; 
    margin-bottom: 10px;
}

.rojo{
    background-color: red;
    color: white; 
    margin-bottom: 10px;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
} 
