body, html {
    height: 100%;
    width: 100%;
}

.d {
    width: 100%;
    height: 100%;
}

.d1{
    background-color: green;
}

.d2{
    background-color: red;
}

h1 {
    padding-top: 10%;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 799px) {
    .d1 {
        display: block;
    }
    .d2 {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .d1 {
        display: none;
    }
    .d2 {
        display: block;
    }
}