body {
    padding: 50px 30px 50px 80px;
    background-color: beige;
    }
    h1 {
    color: brown;
    }

    h1.titulo-principal{
        display: inline-block;
    }

    img.back{
        float: right;
    }

    a.return img.back:last-child {
        display: none;  
      }
    a.return:hover img.back:last-child {
        display: block;  
      }
    a.return:hover img.back:first-child {
        display: none;  
      }

    h1.fnt-blue {
        color: rgb(119, 217, 241);
        font-size: 30PX;
        font-style: italic;
    }

    p.fnt-blue {
        color: rgb(3, 3, 158);
        font-size: 15px;
    }

    a.destacado {
      font-style: italic;
      font-weight: bold;   
    }

    div.fSuperior{
        background-color: blue;
        width: 100%;
        position: fixed;
        left: 0px;
        top:0px;
    }

    div.fInferior{
        background-color: red;
        width: 100%;
        position: fixed;
        left: 0px;
        bottom:0px;
    }

    p.tFranja{
        color: white;
        text-align: center;
        font-weight: bold;
    }

    /* div.rC{
        position: relative;
        top: 50%; 
        left: 50%; 
        width: 50%; 
        height: 300px; 
        margin-left: -25%; 
        background: rgb(204, 12, 12);
    } */

    div.rC{
        background: rgb(204, 12, 12);
        width: 50%;
        height: 300px;
        margin: 200px auto;
        position: relative;
    }

    div.rC p{
        font-size: 64px;
        text-align: center;
        color: white;
        
    }

    div.b{
        border: 9px solid;
        border-color: rgb(204, 12, 12);
        position: absolute;
        background: white;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    div.b1{
        top: -50px;
        left: -50px;
    }

    div.b2{
        bottom: -50px;
        left: -50px;
    }

    div.b3{
        bottom: -50px;
        right: -50px;
    }

    div.b4{
        top: -50px;
        right: -50px;
    }

    div.mixto{
        background: rgb(0, 247, 255);
        border-radius: 25%;
        padding: 10px;
        width: 300px;
        height: auto;
        margin: 50px auto;
        font-size: 20px;
        text-align: center;
    }

    div.white{
        background: white;
        height: auto;
        width: 150px;
        top: 0px;
        left: 0px;
    }
        
    div.doscolores{
        border-radius: 10%;
        width: 50%;
        background-color: aqua;
        font-size: 2rem;
        text-align: center;
        padding: 30px;
        margin: 50px auto;
        position: relative;
        z-index: -2;

    }

    div.blanco{
        width: 50%;
        height: 100%;
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        border-top-left-radius: 10%;
        border-bottom-left-radius: 10%;
    }