div.campo div.fila div{
    background-color: gray;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    position: relative;
}

div.campo div.fila div:hover{
    background-color: rgb(32, 235, 25);

}

div.campo div.fila div i.bomb{
    display: none;
    position: absolute;
    left: 11px;
    top: 11px;
}

div.campo div.fila div.mina:hover{
    background-color: rgb(248, 0, 0);
}

div.campo div.fila div.mina:hover i.bomb{
    display: block;
}

