body{
    background-color: rgb(185, 185, 162);
}

div.articulo{
    border-radius: 5%;
    margin: 2px;
    width: 30%;
    padding: 5px;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    position: relative;
}

div.articulo img{
    border-radius: 5%;
    width: 100%;
    max-height: 230px;
}

div.articulo .price{
    /* margin-left: 5px; */
    padding-left: 3%;
    font-size: 1.3em;
    font-weight: bold;
}

div.articulo .name{
    font-weight: 1em;
    font-weight: bold;
}

div.articulo .description{
    font-weight: 0.8em;
}

div.botones{
    text-align: center;
}

div.botones div{
    text-align: center;
    display: inline-block;
    width: 40%;
    font-size: 2em;
    margin: 0 5px;
}

div.botones div.like{
    color: red;
    border-radius: 40%;
}

div.botones div.like:hover{
    background-color: rgba(255, 0, 0, 0.493);
}

div.botones div.coment{
    color: rgb(8, 110, 8);
    border-radius: 40%;
}

div.botones div.coment:hover{
    background-color: rgba(0, 128, 0, 0.493);
}

i.rojo {
    color: red;
    position: absolute;
    top: 20px;
    right: 5%;
}